apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: products-ingress
  namespace: products-app
  annotations:
    # Rewrite removido para passar o path completo (/products/...) para a aplicação
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /products
        pathType: Prefix
        backend:  
          service:
            name: products-service
            port:
              number: 8080