apiVersion: v1
kind: Service
metadata:
  name: products-service
  namespace: products-app
spec:
  selector:
    app: products
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
