name: '[PRD] Build and Deploy to EKS'

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  sonar_analyse: 
    name:  Build  and  analyze Sonarqube /develop
    runs-on:  ubuntu-latest 
    steps:
      - uses: actions/checkout@v4
        with: 
          fetch-depth:  0   # Shallow clones should be disabled for a better relevance of analysis 
      - name: Set up JDK 21 
        uses: actions/setup-java@v4 
        with: 
          java-version:  21 
          distribution:  'zulu'  # Alternative distribution options are available.
      - name: Cache de pacotes SonarQube
        uses: actions/cache@v4
        with: 
          path: ~/.sonar/cache 
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar 
      - name: Cache de pacotes Maven 
        uses: actions/cache@v4
        with: 
          path: ~/.m2/
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }} 
          restore-keys: ${{ runner.os }}-m2
      - name: Corrigir encoding de arquivos properties
        run: |
          find . -path "*/src/main/resources/*.properties" -type f -exec sh -c 'iconv -f ISO-8859-1 -t UTF-8 "$1" > "$1.tmp" && mv "$1.tmp" "$1"' _ {} \; || true
 
  
      - name: Build and analyze Sonar
        env: 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} 

        run: |
          POM_FILE=$(find . -name "pom.xml" -not -path "*/target/*" -maxdepth 2 | head -n 1)
          if [ -z "$POM_FILE" ]; then echo "pom.xml not found"; exit 1; fi
          mvn -f "$POM_FILE" -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=TechFiap_soat-tech-challenge4-app-customer


  build:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.build-image.outputs.tag }}
    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar credenciais da AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          #role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_ARN }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}


      - name: Fazer login no Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Configurar JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Fazer o Build com Maven
        run: mvn -B package --file pom.xml

      - name: Construir, Taguear e Enviar imagem para o ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          set -x
          if [ -z "$ECR_REPOSITORY" ]; then
            echo "Error: ECR_REPOSITORY secret is not set."
            exit 1
          fi
          if [ -z "$ECR_REGISTRY" ]; then
            echo "Error: ECR_REGISTRY is empty. Login to ECR might have failed."
            exit 1
          fi
          echo "ECR_REGISTRY: $ECR_REGISTRY"
          echo "ECR_REPOSITORY: $ECR_REPOSITORY"
          echo "IMAGE_TAG: $IMAGE_TAG"
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT
  Deploy-to-EKS:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar credenciais da AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          #role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_ARN }}
          role-to-assume: arn:aws:iam::239409137076:role/role-eks-fiap
          aws-region: ${{ secrets.AWS_REGION }}
          audience: sts.amazonaws.com

      - name: Install kubectl
        run: |
          curl -o kubectl https://s3.us-west-2.amazonaws.com/amazon-eks/1.28.5/2024-01-04/bin/linux/amd64/kubectl
          chmod +x ./kubectl
          mkdir -p $HOME/bin && cp ./kubectl $HOME/bin/kubectl && export PATH=$HOME/bin:$PATH
          echo '$HOME/bin' >> $GITHUB_PATH

        
      - name: Ler nome do cluster do arquivo de ambiente
        id: get_cluster_name
        run: |
          CLUSTER_NAME=$(grep -A 1 "prod:" ambiente.yml | tail -n 1 | awk '{print $2}')
          echo "name=$CLUSTER_NAME" >> $GITHUB_OUTPUT
      - name: Configurar kubectl para o cluster EKS
        run: |
          aws eks update-kubeconfig --name ${{ steps.get_cluster_name.outputs.name }} --region ${{ secrets.AWS_REGION }}


      - name: Atualizar manifesto do Kubernetes com a nova imagem
        env:
          NEW_TAG: ${{ needs.build.outputs.tag }}
        run: |
         
          sed -i "s/TAG/$NEW_TAG/g" infra/deployment.yml

      - name: Verificar valor da variavel imagem 
        run: |
          echo ${{ needs.build.outputs.tag }}

      - name: Fazer deploy da aplicação no EKS
        run: |
          kubectl apply -f infra/namespace.yml
          kubectl apply --validate=false -f infra
          
          echo "Deploy realizado com sucesso!"
